doctype html
html
  head
    meta(charset='utf-8')
    title Find-a play
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='css/style.css')

  body
    div.container
      h1 NBA-2 Teams

      div#nba
        input(type='text' placeholder='Enter NBA team' autofocus).typeahead

    script(src='js/jquery.min.js')
    //-script(src='js/typeahead.bundle.min.js')
    script(src='js/typeahead.bundle.js')
    script(src='js/nba-2.js')
    script(src='http://localhost:35729/livereload.js')

